/* Variabls */
:root {

	--purple_dark: #6b2d7e;
	--purple: #a638c7;
	--purple_light: #bd81cf;


	/* --primary-blue: #2196f3;
	--dark-blue: #1976d2; */
	--light-blue: #bbdefb;
	--white: #ffffff;
	--primary-text: #212121;
	--secondary-text: #757575;
	--light-gray: #bdbdbd;
}

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serifs;
	color: var(--primary-text);
}

/* Helper Classes */

/* Layout/Flexbox */
.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-grow-1 {
	flex-grow: 1;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.mb-2 {
	margin-bottom: 20px;
}

/* Text Classes */
.primary-text {
	color: var(--primary-text);
}

.secondary-text {
	color: var(--secondary-text);
}

.light-text {
	color: var(--light-blue);
}

.text-center {
	text-align: center;
}

.mb-2 {
	margin-bottom: 20px;
}

h1 {
	font-size: 48px;
	font-weight: 300;
}

#appContainer {
	height: 100vh;
	width: 100vw;
	align-items: stretch;
	background-color: var(--purple);
	overflow: hidden;
}

#mainContent {
	width: 100%;
	justify-content: center;
}

/* Header */
header {
	height: 100px;
	background-color: var(--purple_dark);
	width: 100%;
	color: white;
}

header .container {
	height: 100%;
	align-items: left;
}

/* Login */

#login {
	background: white;
	padding: 40px 100px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	margin-top: -100px;
}

#loginForm {
	margin-top: 20px;
}

/* Form Elements */

input {
	height: 40px;
	padding: 10px;
	background-color: var(--light-blue);
	border: none;
	color: var(--secondary-text);
}

button {
	height: 40px;
	padding: 0 15px;
	background-color: var(--purple);
	color: white;
	border: none;
}

/* Chat */

#chat {
	background: white;
	height: 100px;
	margin: 25px 0;
	padding: 25px 25px;
	color: white;
	overflow-y: scroll;

	scroll-behavior: smooth;
	scrollbar-color: none;
	scrollbar-width: none;

	border-radius: 43px;
	background: #ffffff;
	box-shadow: 5px 5px 10px #ebebeb,
		-5px -5px 10px #ffffff;
}
#chat::-webkit-scrollbar {
    width: 0px;
}

#messageForm {
	margin-bottom: 25px;
}

#messageForm input,
#messageForm button {
	color: var(--white);
	font-size: 1.2rem;

	border-radius: 22px;
	background: #bd81cf;
	box-shadow: inset 7px 7px 14px #a470b4,
		inset -7px -7px 14px #d692ea;
}

.message {
	background-color: var(--purple);
	padding: 20px;
	width: 80%;
	margin-bottom: 20px;
}

.message-right {
	color: var(--white);
	margin-left: 20%;

	border-radius: 25px;
	background: var(--purple_light);
	box-shadow: 3px 3px 8px #ae77be,
		-3px -3px 8px #cc8be0;
}

.message-right .message-date {
	color: transparent;
	/* TODO made the date invisible to fix later */
}

.message-details {
	margin-bottom: 5px;
}

.message-author {
	font-weight: 800;
}

.message-date {
	font-weight: 100;
	font-size: 14px;
}

.message-content {
	font-weight: 100;
}